<!-- <button mat-raised-button (click)="openDialog()">delete</button>
<br>
<br>
<button mat-raised-button (click)="deleteDialog()">delete</button>
<br>
<br>
<button mat-raised-button (click)="updateDialog()">delete</button> -->

<div class="navbar">
    <div>
        <ul>
           <li><a href="#">Home</a></li>
           <li><a href="#">About</a></li>
           <li><a href="#">Contact</a></li>
           <li><a href="#">Blog</a></li>
           <li><a href="#">Career</a></li>
        </ul>
    </div>
    <div>
        <input type="text" class="search" placeholder="Search" >
    </div>
</div>