<!-- <button mat-raised-button (click)="openDialog()">delete</button>
<br>
<br>
<button mat-raised-button (click)="deleteDialog()">delete</button>
<br>
<br>
<button mat-raised-button (click)="updateDialog()">delete</button> -->

<div class="navbar">
    <div>
        <ul>
           <li>Home</li>
           <li>About</li>
           <li>Contact</li>
           <li>Blog</li>
           <li>Career</li>
        </ul>
    </div>
    <div>
        <input type="text" class="search" placeholder="Search" >
    </div>
</div>