<!-- <button mat-raised-button (click)="openDialog()">delete</button>
<br>
<br>
<button mat-raised-button (click)="deleteDialog()">delete</button>
<br>
<br>
<button mat-raised-button (click)="updateDialog()">delete</button> -->



<div class="container">
<div class="navbar">
        <div>
            <ul>
                <li><a routerLink="#">Home</a></li>
                <li><a routerLink="#">About</a></li>
                <li><a routerLink="#">Contact</a></li>
                <li><a routerLink="#">Blog</a></li>
                <li><a routerLink="#">Career</a></li>
            </ul>
        </div>
        <div>
            <!-- <input type="text" class="search" placeholder="Search" > -->
            <button class="btn btn-secondary">Login</button>
        </div>
    </div>
</div>